*

!.agents
!.agents/**

!.codeium
!.codeium/*
!.codeium/windsurf
!.codeium/windsurf/memories
!.codeium/windsurf/memories/global_rules.md
!.codeium/windsurf/windsurf
!.codeium/windsurf/windsurf/workflows
!.codeium/windsurf/windsurf/workflows/**

!.gitconfig
!.gitignore
!.gitignore_global

!.zshrc

.DS_Store
