*

!.agents
!.agents/**

!.codeium
!.codeium/*
!.codeium/windsurf
!.codeium/windsurf/memories
!.codeium/windsurf/memories/global_rules.md
!.codeium/windsurf/windsurf
!.codeium/windsurf/windsurf/workflows
!.codeium/windsurf/windsurf/workflows/**

!.codex
!.codex/prompts
!.codex/prompts/**
!.codex/rules
!.codex/rules/**
!.codex/AGENTS.md
!.codex/config.toml

!.claude
!.claude/skills
!.claude/skills/**
!.claude/CLAUDE.md
!.claude/settings.json
!.claude/statusline-command.sh


!.gitconfig
!.gitignore
!.gitignore_global

!.zshrc

.DS_Store
